main {
  text-align: center;
  padding: 1rem;
}

#display {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0 auto 1rem;

  border: 1px solid black;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
